@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
    --font-alata: "Alata";

    --color-cyan: hsl(180 66% 49%);
    --color-cyanLight: hsl(180, 66%, 69%);
    --color-darkViolet: hsl(257, 27%, 26%);
    --color-red: hsl(0, 87%, 67%);
    --color-grayishViolet: hsl(257, 7%, 63%);
    --color-veryDarkBlue: hsl(255, 11%, 22%);
    --color-veryDarkViolet: hsl(260, 8%, 14%);
}

#cta {
    background-image: url("./assets/images/bg-boost-desktop.svg");
    background-repeat: "no-repeat";
    background-size: "cover";
}

.ficon:hover {
    filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg)
        brightness(89%) contrast(85%);
}

/* HAMBURGER MENU */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    background: #9c9aa6;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
